<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/Tricolour.png' ) }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Host with Me</title>
</head>
<body>
    <form action="/DevCrishKha/" method="post" enctype="multipart/form-data" id="myForm">
        <input type="text" name="new_route_name" placeholder="Enter Desired Route" required>
        <input type="file" name="HTMLfile" required>
        <button type="reset">Reset</button>
        <button type="submit">Submit</button>
        <br>
        </form>
    <button onclick="addFields()">+Add</button>
    <br>
    <h3>Keep in mind these points before uploading your HTML page:
        <br>
        1. This application only takes HTML files so include your script and css-styling in the HTML page, any link-tag will give error. <br>
        2. You cannot upload any css/js file or image/video Yet. That functionality will be added later. So please keep using this platform. <br>
        3. If you have any form then the form must be submitted to "/DevCrishKha/Your_Desired_Route" <br>
        4. You can only have input field of type=text, number. The functionality to be able to upload files, images, videos by the user of your website will be added later. So stay tuned 
    </h3>
    <br>
    <br>
</body>
<script>
    let collection_count = 0;
    function addFields(){
        form = document.getElementById('myForm');
        field = document.createElement('input');
        field.setAttribute('name', 'Fields[]');
        field.setAttribute('type', 'text');
        field.required = true;
        form.append(document.createElement('br'));
        form.append(field);

        if (collection_count < 1){
            collection_count++;
            collection_field = document.createElement('input');
            collection_field.setAttribute('name', 'collection_name');
            collection_field.setAttribute('type', 'text');
            collection_field.setAttribute('placeholder', 'Collection Name');
            collection_field.required = true;
            form.append(collection_field);
        }
    }
</script>
</html>