<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/Tricolour.png' ) }}">
  <title>{{ member.memberName }} | Project Showcase</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

  <!-- Banner -->
  <!-- Banner -->
  <div class="banner">
    <div class="org-title" style="margin-bottom: 10vw;"> {{ member.memberName }} <br> {{ member.collegeCode }} <br> {{
      member.course_Roll }} </div>
    <div>
      <img
        src="{{ url_for('dashboard.get_Image', dataBase='PortFolio-Confidential', collection='Members', filename=member.imageName ) }}"
        alt="{{ member.memberName }}" class="my-img">
      <h1>Project Showcase</h1>
      <h3>Explore My Completed & Upcoming Projects</h3>
    </div>
  </div>

  <!-- Navigation Bar -->
  <nav class="org-nav">
    {% for category in categories %}
    <button onclick="showProjectView( '{{category}}', '{{ member.memberCode }}')"
      class="project-button">{{category}}</button>
    {% endfor %}
    <!-- <button onclick="window.location.href='/AboutMe'" class="project-button">About Me</button> -->
    <a href="/Documents/{{member.memberCode}} "> Documents & Notes </a>
    <a href="/TeamPortFolio"> Team PortFolio </a>
    <a href="/ReachMe/{{member.memberCode}}"> Reach Me </a>
  </nav>

  <!-- Portfolio -->
  <div id="project-view-div">
  </div>
  </div>
  </div>

  <!-- Footer -->
  <footer>
    &copy; 2025 {{ member.memberName }} | Developed by Dev Crish Kha | Styled by GPT
  </footer>
</body>

<script>
  function showProjectView(project_category, memberCode) {
    fetch(`/render_projectView/${project_category}/${memberCode}`)
      .then(response => response.text())
      .then(HTML => {
        const container = document.getElementById("project-view-div");
        container.innerHTML = "";
        container.insertAdjacentHTML('beforeend', HTML);
      })
      .catch(error => console.error('Error: ', error));
  }
</script>

<script>
  function showExpand(project_name) {
    document.getElementById(project_name).style.display = "block";
    document.getElementById(project_name).classList.add("Expand-card");
    document.body.classList.add(blurred);
  }
  function closeExpand(project_name) {
    document.getElementById(project_name).style.display = "none";
    document.getElementById(project_name).classList.remove("Expand-card");
    document.body.classList.remove(blurred);
  }
</script>

<script>
  window.onpageshow = function (event) {
    if (event.persisted) {
      window.location.reload();
    }
  };
</script>

</html>